# ============================================
# API Platform - Variables de Entorno (Template)
# ============================================
PORT=3006
NODE_ENV=development

# Database (platform DB)
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5434
DB_NAME=platform
DB_SSL=false
DB_POOL_MAX=10

# Platform config
PLATFORM_DOMAIN=localhost
