@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 100;
  src: url("/src/assets/fonts/THICCCBOI-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/fonts/THICCCBOI-Light.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/THICCCBOI-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/THICCCBOI-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/THICCCBOI-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/THICCCBOI-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 800;
  src: url("/src/assets/fonts/THICCCBOI-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 900;
  src: url("/src/assets/fonts/THICCCBOI-Black.ttf") format("truetype");
}

@font-face {
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 950;
  src: url("/src/assets/fonts/THICCCBOI-ThicccAF.ttf") format("truetype");
}

/* src/fonts.css */

/* Poppins Thin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("/src/assets/fonts/poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  src: url("/src/assets/fonts/poppins/Poppins-ThinItalic.ttf")
    format("truetype");
}

/* Poppins ExtraLight */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("/src/assets/fonts/poppins/Poppins-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  src: url("/src/assets/fonts/poppins/Poppins-ExtraLightItalic.ttf")
    format("truetype");
}

/* Poppins Light */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  src: url("/src/assets/fonts/poppins/Poppins-LightItalic.ttf")
    format("truetype");
}

/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/poppins/Poppins-Italic.ttf") format("truetype");
}

/* Poppins Medium */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  src: url("/src/assets/fonts/poppins/Poppins-MediumItalic.ttf")
    format("truetype");
}

/* Poppins SemiBold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  src: url("/src/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf")
    format("truetype");
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("/src/assets/fonts/poppins/Poppins-BoldItalic.ttf")
    format("truetype");
}

/* Poppins ExtraBold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("/src/assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  src: url("/src/assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf")
    format("truetype");
}

/* Poppins Black */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("/src/assets/fonts/poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  src: url("/src/assets/fonts/poppins/Poppins-BlackItalic.ttf")
    format("truetype");
}
