# Dependencies
node_modules

# Build
dist

# Environment
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.idea
.vscode

# Uploads (archivos subidos localmente)
uploads/*
!uploads/.gitkeep
